body{
    background-color: rgb(249, 249, 249);
    width: 100%;
    position: absolute;
    background-size: cover;
}

.card {
    background-color: white;
    border: 1px solid rgb(184, 184, 184);
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 3px;
}

.container {
    padding-top: 16px;
    padding-bottom: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poster {
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 7px;
}

.post {
    width: 614px;
    height: 614px;
}

.pfp {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 32px;
    height: 32px;
}

.like {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 1.5rem;
}

.des {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.date {
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.highlight {
    color: rgb(255, 38, 0)
}

.loading {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.search {
    margin-bottom: 15px;
}

.hdr{
    background-color: white;
    border-bottom: 1px solid rgb(194, 194, 194);
    width: 100%;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}

.empty {
    height: 120px;
}
